<CascadingAuthenticationState>
    <Router AppAssembly="@typeof(App).Assembly">
        <Found Context="routeData">
            <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)">
                <NotAuthorized>
                    <div class="main">
                        <h2>No has iniciado sesión</h2>
                        <p>Para continuar por favor inicia sesión</p>
                        <a href="user/signin" class="btn btn-danger">Iniciar sesión</a>
                    </div>
                </NotAuthorized>
                <Authorizing>
                    Espera por favor...
                </Authorizing>
            </AuthorizeRouteView>
            <FocusOnNavigate RouteData="@routeData" Selector="h1" />
        </Found>
        <NotFound>
            <PageTitle>Not found</PageTitle>
            <LayoutView Layout="@typeof(MainLayout)">
                <div class="main" role="alert">Esta página no fue encontrada</div>
            </LayoutView>
        </NotFound>
    </Router>
</CascadingAuthenticationState>