<Router AppAssembly="@typeof(App).Assembly">
     <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
        <FocusOnNavigate RouteData="@routeData" Selector="h1" />
    </Found>
    <NotFound>
        <PageTitle>Not found</PageTitle>
        <LayoutView Layout="@typeof(MainLayout)">
            <div class="main" role="alert">Esta página no fue encontrada</div>
        </LayoutView>
    </NotFound>
</Router>
